@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Source Code Pro', monospace;
    background-color: #333333;
}

.flex-row {
    display: flex;
    height: 50vh;
}

.flex-row>* {
    flex: 1;
}

div.content {
    color: #CCCCCC;
    background-color: #1d1d1d;
    font-size: 10pt;
    border: 1px solid #404040;
    padding: 5pt;
    box-sizing: border-box;
}

div.content.output {
    /* background-color: #333333; */
    background-color: #1d1d1d;
}

div.content.input {
    background-color: #1d1d1d;
    overflow-x: hidden;
    overflow-y: scroll;
}

div.error {
    color: red;
}